<footer class="footer">
  <div class="footer text-white py-2 fixed-bottom">
    <div class="container text-center">
        <p class="mt-2 mb-0 text-white small text-center">&copy; <%= Date.current.year %>  Boulder Bike Tour</p>
    </div>
  </div>
</footer>
