<div class="bg-image-one-bw">
  <div class="container top-margin rider">
    <div class="row masonry-grid">
      <% @photos.each do |photo| %>
        <div class="col-md-4 mb-4 masonry-item">
          <div class="card">
            <a href="<%= photo[:url] %>" target="_blank">
              <img src="<%= photo[:url] %>" class="card-img-top" alt="Photo">
            </a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="bottom-margin d-flex justify-content-center">
    <%= pagy_bootstrap_nav(@pagy).html_safe %>
  </div>
</div>

<a href="#" class="scroll-to-top" title="Scroll to top">
  <i class="bi bi-arrow-up"></i>
</a>
